#include "/home/poq/.config/x/colours/vamp_sea_dark"

URxvt*scrollBar:                     false 
URxvt*font:                          xft:sq:antialias=true:autohint=true:pixelsize=12
URxvt*imLocale:                      en_AU.UTF-8
URxvt*imFont:                        xft:ttyp0:pixelsize=11
URxvt*externalBorder:                0
URxvt*internalBorder:                5 
URxvt*url-launcher:                  /usr/bin/xdg-open

!Emacs.font:			     boxxy-11
emacs.reverseVideo:          true

!st*font:			     PxPlus IBM VGA8-12:antialias=false:autohint=true

rofi.font:                           tewi 10
rofi.lines: 		                 8
rofi.width:		                     10
rofi.borderwidth:	                 3
rofi.auto-select:	                 false
rofi.hide-scrollbar:	             true
rofi.color-window:	                 bg, c3
rofi.color-normal:	                 bg, fg, bg, c4, bg 
rofi.separator-style:                solid

